site_name: "OME-Zarr Converters Tools"
site_url: "https://github.com/BioVisionCenter/ome-zarr-converters-tools"
site_description: "A Python library for building OME-Zarr converters."
repo_name: "ome-zarr-converters-tools"
repo_url: "https://github.com/BioVisionCenter/ome-zarr-converters-tools"
copyright: "Copyright &copy; 2025-, BioVisionCenter UZH"

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.tooltips
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.share

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/BioVisionCenter/ome-zarr-converters-tools"
      name: OME-Zarr Converters Tools on GitHub

plugins:
  - search
  - autorefs
  - markdown-exec
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
          options:
            heading_level: 3
            docstring_style: google
            show_source: true
            show_signature_annotations: true
            show_root_heading: true
            show_root_full_path: true
            show_bases: true
            docstring_section_style: list
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: BioVisionCenter/ome-zarr-converters-tools
      branch: main
  - mkdocs-jupyter:
      execute: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - md_in_html
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - "Home": index.md
  - "Tutorials":
    - "HCS Plate": hcs_tutorial.ipynb
    - "Single Images": images_tutorial.ipynb
    - "Advanced: Programmatic Tiles": advanced_tutorial.ipynb
  - "Fractal Tasks": converters_as_fractal_tasks.md
  - "Pipeline Configuration": pipeline.md
  - "API Reference": api.md
